*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(to bottom, #F6FAFD, #FFFFFF);
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767.98px) {
    .container {
        min-width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media ((min-width: 768px) and (max-width : 1199.98px)) {
    .container {
        min-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

.button {
    display: flex;
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-color: #9C69E2;
    margin: 0 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}
.icon {
    margin-right: 5px;
}


.container-profile {
  display: flex;
  min-height: 100vh;
}

/* Main content */
.main-content {
  flex: 1;
  background: #f8f8f8;
  padding: 40px;
}
/* Main */
.container-main {
    width: 100%;
    height: auto;
    padding: 96px 0;
    padding-bottom: 100px;
}